@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800&display=swap');
/*Set Fonts */
/*Arabic Lang Style*/
*:lang(ar):not(i):not(div.fab):not(div.fas) {
    font-family: 'Tajawal', sans-serif !important;
}

.container:lang(ar) {
    direction: rtl;
}
.header-action-02:lang(ar) {
    margin-left: 10px;
    margin-right: auto;
}
.header-top-bar-wrap__language:lang(ar) {
        padding-left: unset ;

}
.header-action-02:lang(ar)::before {
    right: -25px;
    left: unset;
}
.header-top-bar-wrap__language:lang(ar)::before {
     left: -15px;
    right: unset;
 }
.menu-primary__container:lang(ar) > li > a.active span::before {
    right: 0;
    left: auto;
}
.header-top-bar-wrap__info-list li a i, .header-top-bar-wrap__info-list li button i:lang(ar) {
    margin-left: 3px;
    margin-right: 0;
}
ul.header-top-bar-wrap__info-list.header-top-bar-wrap__info-list-02:lang(ar) {
    flex-direction: row-reverse;
}
.menu-primary__container:lang(ar)  > li.mega-menu-children > a span::after{
    margin-right: 8px;
}
.header-serach__btn:lang(ar) {
    left: 10px;
    right: unset;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 8px;

}
.header-serach__input:lang(ar) {
    padding-left: 65px;
    padding-right: 19px;
}
.header-top-bar-wrap__info:lang(ar) > * {
    margin-left: 30px !important;
    margin-right: 0 !important;
}
ul.header-top-bar-wrap__info-list.header-top-bar-wrap__info-list-03.d-none.d-lg-flex:lang(ar) {
    flex-direction: row-reverse;
}
.header-top-bar-wrap__language:lang(ar) .language-dropdown::before
{
    right: 21px;
    left: unset;

}
.header-top-bar-wrap__language .language-dropdown li a:lang(ar) {
    text-align: right;
}
.modal:lang(ar) > * {
    direction: rtl;
}
.modal-description:lang(ar) button {
    margin-right: 5px;
}
.slider-register__box:lang(ar){
    margin-right: auto;
    margin-left: unset;
}
@media only screen and (min-width: 1500px), only screen and (min-width: 1200px) and (max-width: 1499px), only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-caption-04__btn:lang(ar) {

        line-height: 63px;
        font-weight:bold;
    }
}
.slider-caption-04__sub-title:lang(ar) {
    letter-spacing: 1px;
}
.header-logo:lang(ar) {
    margin-left: 28px;
    margin-right: 0;
}
.cta-courses:lang(ar)
{
    display: flex;
    justify-content: flex-end;
}
.cta-courses:lang(ar) i {
    padding-right: 5px;
    position: relative;
    top: 2px;
}
.course-info-02__meta:lang(ar) span :first-child {
    margin-left: 8px;
    margin-right: 0;
}
.testimonial-info__caption:lang(ar) {

    padding-right: 15px;
}

.testimonial-quote-icon:lang(ar) {
    left: 20px;
    right: unset;
}
.footer-widget__copyright:lang(ar)
{
    direction: ltr;
}
.instructor-item__meta:lang('ar') i {
    margin-left: 4px;
}

.instructor-item__image img {
    object-fit: cover;
}
.breadcrumb-item:first-child {
    position: relative;
}
.breadcrumb-item:first-child:after {
    content:'/' !important;
    position: relative;
    left: 10px;

}
.breadcrumb-item:lang(ar):first-child:after {
    right: 10px;

}
.breadcrumb-item:before {
    content:'' !important;
}
.page-breadcrumb .breadcrumb .breadcrumb-item {
    margin: 0 10px;
}
.page-breadcrumb .breadcrumb .breadcrumb-item.active {
    color: #0079c5 !important;
    font-weight: bold;
}
.event-details__meta:lang(ar) .meta-action i {
    margin-left: 6px;
    margin-right: unset;
    margin-bottom: 5px;

}
.event-details__meta:lang(ar) > * {
    margin-left: 24px;
    margin-right: 0;
}

.speaker-item__thumbnail img {
    object-fit: cover;
    width: 150px !important;
    height: 150px !important;
}
.contact-info__icon:lang(ar) {

    margin-left: 6px;
    bottom: 5px;
    position: relative;
}
.sidebar-widget-02__form:lang(ar) .form-icon
{
    left: 0;
    right: unset;
}
.event-list-item__meta-item .meta-label:lang(ar) {
    margin-left: 6px;
    margin-right: unset;
}
.filter-select .edumall-nice-select:lang(ar) {
    top: 53px;
}
.edumall-nice-select:lang(ar) {
    text-align: right;
}
@media(max-width: 120px) {
    margin-left: 57px;
}
.sidebar-widget-02__event-thumbnail:lang(ar)
{
    margin-left: 10px;
}
#success_model .modal-content {
    align-items: center;
    justify-content: center;
}
.head:lang(ar) p {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

#success_model .close{
    opacity: 1;
    position: absolute;
    right: 0px;
    font-size: 30px;
    padding: 3px 15px;
    margin-bottom: 10px;
}
#success_model .checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #1ab394;
    position: absolute;
}
#success_model .checkmark-circle .checkmark {
    border-radius: 5px;
}
#success_model .checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    animation-delay: 300ms;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#success_model .checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid #fff;
    border-top: 15px solid #fff;
    border-radius: 2.5px !important;
    content: '';
    left: 35px;
    top: 80px;
    position: absolute;
}

@-webkit-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}
@-moz-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}
@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}
.text-center {
    text-align: center;
}
